@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Roboto);
.Header{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color:#c93995b5;
}

.footer{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color:#c93995b5;
}

.contents{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color:#df6484b5
}
